@layer components {
  .btn {
    @apply font-medium shadow-lg font-secondary rounded;
  }
  .btn-primary {
    @apply bg-primary hover:bg-primaryHover py-1 px-4  text-white;
  }

  .btn-dark {
    @apply bg-primaryDark hover:bg-gray-800 py-1 px-4  text-white;
  }
  .btn-err {
    @apply bg-red-600 hover:bg-red-800 py-1 px-4  text-white;
  }

  .btn-cart {
    @apply bg-primary hover:bg-primaryHover py-3 px-24 text-xl capitalize  text-white;
  }
  .btn-gray {
    @apply bg-gray-300 hover:bg-gray-400 w-6 h-6 flex items-center justify-center text-xl capitalize  text-primaryDark;
  }

  .btn-rounded {
    @apply bg-primary px-6 py-1 hover:bg-primaryHover border-2 border-primary hover:border-primaryHover text-white rounded-full;
  }
  .btn-outline-rounded {
    @apply border-2 px-6 py-1 text-primary border-primary hover:bg-primaryHover hover:text-white hover:border-primaryHover  rounded-full;
  }
}
