@layer components {
  .btn {
    @apply font-medium shadow-lg font-secondary rounded;
  }
  .btn-primary {
    @apply bg-primary hover:bg-primaryHover py-1 px-4  text-white;
  }

  .btn-dark {
    @apply bg-primaryDark hover:bg-gray-800 py-1 px-4  text-white;
  }
  .btn-err {
    @apply bg-red-600 hover:bg-red-800 py-1 px-4  text-white;
  }

  .btn-cart {
    @apply bg-primary hover:bg-primaryHover py-3 px-24 text-xl capitalize  text-white;
  }
}
